<!-- <div class="centerAlign">
	<div id="content">
		<img src="https://i.postimg.cc/dVLcmM3B/cancel.png"
			alt="logo"
			class="ribbonAlign">
	</div>
    <br>
	<img src="https://i.postimg.cc/Gp2yPxsY/multiply.png"
		alt="logo"
		style="height:100px;width:100px;">
	<br>
	<br>
	<h1>Proceed to reject?</h1>
	<div>
		<button mat-flat-button
			style="background-color: #8DC63F;color: #ffffff;margin-right:8px;font-size: x-large;">
			Yes
		</button>
		<button mat-flat-button
			style="background-color: #F90606;color: #ffffff;margin-left:8px;font-size: x-large;">
			No
		</button>
	</div>
</div> -->

