<div class="image1">
	<br>
	<br>
	<br>
	<h2 style="text-align:center;align-items:center;font-size: x-large">
		<b>Help & Support</b>
	</h2>
	<h2 style="text-align:center;align-items:center;">
		FAQ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; About us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Privacy Policy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Terms and Conditions
	</h2>
	<h2 style="text-align:center;align-items:center;font-size: x-large">
		<b>Social Media</b>
	</h2>
	<div style="text-align:center;align-items:center;">
		<img src="https://i.postimg.cc/zXc5Wbs4/facebook.png"
			alt="logo"
			style="height:45px;width:45px;margin-left: 20px;">
		<img src="https://i.postimg.cc/qq2nnHR5/instagram.png"
			alt="logo"
			style="height:45px;width:45px;margin-left: 20px;">
		<img src="https://i.postimg.cc/gj1ScW7t/youtube.png"
			alt="logo"
			style="height:45px;width:45px;margin-left: 20px;">
		<img src="https://i.postimg.cc/855thcQn/linkedin.png"
			alt="logo"
			style="height:45px;width:45px;margin-left: 20px;">
	</div>
	<br>
	<br>
	<h2 style="text-align:center;align-items:center;">
		©Jobshatch.com 2022, All right reserved
	</h2>
</div>
