<app-inside-header></app-inside-header>
<br>
<br>
<br>
<div id="container"
	style="height: 1700px;">
	<div id="left">
		<div id="left2">
			<div style="margin-left: 30px;">
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">FAQ</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">About Us</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">Contact Us</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: black;text-align:center; align-items:center">Privacy Policy</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">Terms & Conditions</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
			</div>
		</div>
	</div>
	<div id="right">
		<div style="border: 1px solid #ff8800;margin-right: 30px;padding: 15px;  border-radius: 5px;">
			<h1>
				<b>Contact Info</b>
			</h1>
			<p style="text-align: justify;">
				It is Jobs Hatch’s policy to respect your privacy regarding any information we
                may collect while operating our website. This Privacy Policy applies to
                https://www.jobshatch.com (hereinafter, "us", "we", or "https://www.jobshatch.
                com"). We respect your privacy and are committed to protecting personally
                identifiable information you may provide us through the Website. We
                have adopted this privacy policy ("Privacy Policy") to explain what information
                may be collected on our Website, how we use this information, and under what
                circumstances we may disclose the information to third parties. This Privacy
                Policy applies only to information we collect through the Website and does not
                apply to our collection of information from other sources.This Privacy Policy, together
                with the Terms and conditions posted on our Website, set forth the general
                rules and policies governing your use of our Website. Depending on your
                activities when visiting our Website, you may be required to agree to additional
                terms and conditions.
			</p>
			<br>
            <hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>Website Visitors</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				Like most website operators, Jobs Hatch collects non-personally-identifying information
                of the sort that web browsers and servers typically make available,
                such as the browser type, language preference, referring site, and the date and
                time of each visitor request. Jobs Hatch’s purpose in collecting non-personally
                identifying information is to better understand how Jobs Hatch’s visitors use its
                website. From time to time, Jobs Hatch may release non-personally-identifying
                information in the aggregate, e.g., by publishing a report on trends in the usage
                of its website.
			</p>
			<p style="text-align: justify;">
				Jobs Hatch also collects potentially personally-identifying information like Internet
                Protocol (IP) addresses for logged in users and for users leaving comments
                on https://www.jobshatch.com blog posts. Jobs Hatch only discloses
                logged in user and commenter IP addresses under the same circumstances
                that it uses and discloses personally-identifying information as described
                below.
			</p>
			<br>
            <hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					Gathering of Personally-Identifying information
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				Certain visitors to Jobs Hatch’s websites choose to interact with Jobs Hatch in
                ways that require Jobs Hatch to gather personally-identifying information. The
                amount and type of information that Jobs Hatch gathers depends on the
                nature of the interaction. For example, we ask visitors who sign up for a blog at
                https://www.jobshatch.com to provide a username and email address.
			</p>
			<br>
            <hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>Security</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				The security of your Personal Information is important to us, but remember that
                no method of transmission over the Internet, or method of electronic storage is
                100% secure. While we strive to use commercially acceptable means to protect
                your Personal Information, we cannot guarantee its absolute security.
			</p>
			<br>
            <hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>Advertisments</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				Ads appearing on our website may be delivered to users by advertising partners,
                who may set cookies. These cookies allow the ad server to recognize your
                computer each time they send you an online advertisement to compile information
                about you or others who use your computer. This information allows ad
                networks to, among other things, deliver targeted advertisements that they believe
                will be of most interest to you. This Privacy Policy covers the use of cookies.
			</p>
			<br>
            <hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					Links To External Sites
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				Our Service may contain links to external sites that are not operated by us. If
                you click on a third party link, you will be directed to that third party's site. We
                strongly advise you to review the Privacy Policy and terms and conditions of
                every site you visit.We have no control over, and assume no responsibility for
                the content, privacy policies or practices of any third party sites, products or
                services.
			</p>
            <br>
            <hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					How do i apply for the job post?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
                Simply click into a job advert and click on the “Apply” button.
			</p>
            <br>
            <hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					How do i receive Free Email Alerts?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				You need to be registered as a Job Seeker and verify your account for the
                first time.
			</p>
            <br>
            <hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					I forgot my password, how can i reset it?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				To reset your password go to Request a new Password
			</p>
            <p style="text-align: justify;">
				Type you email address that you used to create your user account and click
                on "Email new password" Then follow the easy steps as the email explains.
			</p>
            <br>
            <br>
		</div>
	</div>
</div>
<app-footer></app-footer>
