<app-inside-header></app-inside-header>
<br>
<br>
<br>
<div id="container"
	style="height: 1300px;">
	<div id="left">
		<div id="left2">
			<div style="margin-left: 30px;">
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: black;text-align:center; align-items:center">FAQ</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">About Us</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">Contact Us</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">Privacy Policy</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">Terms & Conditions</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
			</div>
		</div>
	</div>
	<div id="right">
		<div style="border: 1px solid #ff8800;margin-right: 30px;padding: 15px;  border-radius: 5px;">
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					Is registration on the JobsHatch free?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				Yes. Registration is free for job seekers and job advertisers. Register
				<span style="color: #ff8800;">here</span>
			</p>
			<br>
			<hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					What are the charges to use JobsHatch?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				It is completely free for Job seekers and the list of packages with their
                prices for job advertisers can be found here click <span style="color: #ff8800;">here</span>
			</p>
			<br>
			<hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>I’m new to JobsHatch. How can i register for free?</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				To register for free as a Job Seeker click  <span style="color: #ff8800;">here</span>
			</p>
            <p style="text-align: justify;">
				To register for free as a Job Advertiser click  <span style="color: #ff8800;">here</span>
			</p>
            <p style="text-align: justify;">
				Complete all the required information (indicated with *) then click on the
                "Create new account" button
			</p>
			<br>
			<hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>How does the JobsHatch work for job seeker?</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				Registered Job Seekers can subscribe to job adverts posted by job advertisers.
                You will also have an on CV profile that can be searched by job advertisers and
                employers. We advise job seekers to complete their online CV profile so that
                they can be included in our website's Job Seeker Search.
			</p>
			<br>
			<hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					What can i do so that multiple employers will contact me?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
                Ensure that you complete and update your online CV.
			</p>
			<br>
			<hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					How do i apply for the job post?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				Simply click into a job advert and click on the “Apply” button.
			</p>
			<br>
			<hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					How do i receive Free Email Alerts?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				You need to be registered as a Job Seeker and verify your account for the
                first time.
			</p>
			<br>
			<hr>
			<br>
			<h1 style="display: flex;    justify-content: space-between;">
				<b>
					I forgot my password, how can i reset it?
				</b>
				<mat-icon [ngStyle]="{'color':'#ff8800'}">add_circle</mat-icon>
			</h1>
			<p style="text-align: justify;">
				To reset your password go to Request a new Password
			</p>
			<p style="text-align: justify;">
				Type you email address that you used to create your user account and click
                on "Email new password" Then follow the easy steps as the email explains.
			</p>
			<br>
			<br>
		</div>
	</div>
</div>
<app-footer></app-footer>
