.paddingLeft10{
    padding-left: 10px !important;
}
.padding25{
    padding: 25px !important;
}
.width20{
    width: 20px !important;
}
.textAlign{
    text-align: right !important;
}
::ng-deep .mat-dialog-container{
    width: 450px !important;
    // height: 350px !important;
}