<!-- <div class="row">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active paddingLeft10 paddingRight10">
                <img src="../../../../assets/Cleaning icon.png" alt="" height="70" class="width80"> &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../../assets/Renovation icon.png" alt="" height="70" class="width80">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../../assets/air conditioning icon.png" alt="" height="70" class="width80">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../../assets/electrical icon.png" alt="" height="70" class="width80">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../../assets/delivery icon.png" alt="" height="70" class="width80">
            </div>
            <div class="carousel-item paddingLeft10 paddingRight10">
                <img src="../../../../assets/health icon.png" alt="" height="70" class="width80">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../../assets/office icon.png" alt="" height="70" class="width80">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../../assets/lessons icon.png" alt="" height="70" class="width80">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../../assets/pets icon.png" alt="" height="70" class="width80">&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../../../assets/automotive icon.png" alt="" height="70" class="width80">
            </div>

        </div>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next" >
            <span class="carousel-control-next-icon"  aria-hidden="true" ><img src="../../../../assets/next icon.png" alt=""></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div> -->
<div style="text-align:center;margin:0; padding:0;">
    <ng-image-slider #nav [imagePopup]="false" [images]="imageObject" [infinite]="false" [autoSlide]="1"
        [imageSize]="{width: '25%', height: 200}" slideImage="1" (imageClick)="single($event)"></ng-image-slider>
</div>