 <!-- <div *ngIf="(isInComponentShowObservable | async) <= 0">
	<button mat-stroked-button
		style="background-color: #ff8800;color: white; margin-left:500px;margin-top:100px;">
		{{valueArray.length}}
	</button>
	<div *ngFor="let item of valueArray;"
		style="margin-left:500px ;margin-top:2px;">
		<button (click)="showComponent(item)"
			mat-stroked-button
			style="background-color: #8DC63F;color: white;">
			{{item}}
		</button>
	</div>
</div>




<div *ngIf="(isInComponentShowObservable | async) > 0">
	<app-app-show [value]="(isInComponentShowObservable | async)"></app-app-show>
</div>  -->

<!-- <app-inside-header></app-inside-header> -->
<!-- <app-signup></app-signup>
<app-login></app-login> -->
<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->
<!-- <app-search></app-search> -->



<!-- <app-start-jobshatch> -->
	
<!-- </app-start-jobshatch>
<app-start-search></app-start-search>

<app-house-renovation></app-house-renovation>
<app-profile></app-profile> -->
<router-outlet></router-outlet>