.border{
    border: 1px solid #ff8800 !important;
}
.margin0{
    margin: 0px !important;
}
.width100{
    width: 100% !important;
}
.fontService{
    font-weight: bold;
}
.jobsBtn{
    font-weight: bold;
    color: #ff8800;
}