<app-header></app-header>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <h3 class="fontService">Popular services</h3>
        </div>
        <div class="row">
            <app-image-carosual [imageData]="carouselData"></app-image-carosual>
        </div>
        <br>
        <div class="row mb-4">
            <app-search></app-search>
        </div>
        <div class="row mb-2">
            <div class="col text-center">
                <button class="btn btn-outline border jobsBtn">How do I start using jobsHatch Services?</button>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="image"><img src="" alt=""></div>
                <h3 class="margin0 fontService">1.&nbsp;Search for service</h3>
                <p>Let us know what service you
                    need and where, we’ll help you
                    find vendors available for hire
                    in your area.
                </p>
            </div>
            <div class="col-md-4">
                <div class="image"><img src="" alt=""></div>
                <h3 class="margin0 fontService">2.&nbsp; Hire preferred vendor</h3>
                <p>Don’t be shy and chat with the
                    vendor! Send your offer, discuss
                    details and negotiate for the
                    best price.
                </p>
            </div>
            <div class="col-md-4">
                <div class="image"><img src="" alt=""></div>
                <h3 class="margin0 fontService">3.&nbsp;Rate and review</h3>
                <p>Share your experience by
                    reviewing the service. This
                    will encourage the vendors
                    to provide quality service.
                </p>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col text-center">
                <button class="btn btn-outline border jobsBtn">Find and offer services on the go</button>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-5">
                <img src="../../../../assets/Artboard 51.png" alt="">
            </div>
            <div class="col-md-5">
                <h3 class="fontService">Are you looking to request for a service?<br>
                    Or are you seeking to offer your services?
                </h3>
                <p class="mb-2">
                    JobsHatch Services is a unique service
                    platform where you can do both. Our app is
                    designed for your ultimate convenience, so
                    you can find and offer services anytime,
                    anywhere
                </p>
                <h4>
                    Download the JobsHatch app today
                </h4>
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-5">
                    <img class="width100" src="../../../../assets/Artboard 88.png" height="50" alt="">
                    </div>
                    <div class="col-md-5 col-sm-5 col-5"> <img class="width100" src="../../../../assets/Artboard 89.png" height="50" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<br>
<app-footer></app-footer>

<!-- <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <app-image-carosual></app-image-carosual>
    </div>
    <div class="col-2">
    </div>
</div> 
<br>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <app-search></app-search>
    </div>
    <div class="col-2">
    </div>
</div>
<div class="row">
    <br>
    <br>
    <br>
    <br>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center">
        <button class="btn btn-outline border">How do I start using jobsHatch Services?</button>
    </div>
    <div class="col-2"></div>
</div>
<br>
<app-footer></app-footer> --->