<div class="centerAlign">
	<div id="content">
		<img src="https://i.postimg.cc/dVLcmM3B/cancel.png"
			alt="logo"
			class="ribbonAlign">
	</div>
    <br>
	<h1>
		<b>
			Please fill the offer form.
		</b>
	</h1>
	<mat-form-field appearance="outline"
		style="width: 400px;">
		<mat-label>Amount</mat-label>
		<input matInput
			type="text"
			placeholder="RM 0">
	</mat-form-field>
	<br>
	<mat-form-field appearance="outline"
		style="width: 400px;">
		<mat-label>Address</mat-label>
		<input matInput
			type="text"
			placeholder="Address">
	</mat-form-field>
	<br>
	<mat-form-field appearance="outline"
		style="width: 400px;">
		<mat-label>Contact Number</mat-label>
		<input matInput
			type="text"
			placeholder="Contact Number">
	</mat-form-field>
	<br>
	<div>
		<mat-form-field appearance="outline"
			style="width: 180px;margin-right: 40px;">
			<mat-label>Date</mat-label>
			<input matInput
				type="text"
				placeholder="Date">
			<span matPrefix
				class="prefix">
				<mat-icon>calendar_today</mat-icon>
			</span>
		</mat-form-field>
		<mat-form-field appearance="outline"
			style="width: 180px;">
			<mat-label>Time</mat-label>
			<input matInput
				type="text"
				placeholder="Time">
			<span matPrefix
				class="prefix">
				<mat-icon>access_time</mat-icon>
			</span>
		</mat-form-field>
	</div>
	<mat-form-field style="width:400px;"
		appearance="outline">
		<textarea matInput
			name="questionText"
			rows="8"
			placeholder="100 and below words..."
			required></textarea>
	</mat-form-field>
	<br>
	<button mat-flat-button
		style="background-color: #ff8800;color: #ffffff;margin-right:8px;font-size: x-large;">
		Submit
	</button>
</div>
