<app-header></app-header>
<div class="row mt-4 mb-3"></div>

<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="user-list-card">
        <div class="user-card" *ngFor="let x of chatChannelList" (click)="startChat(x)">
          <img src="" [alt]="x?.userOneFullName" />
          <p class="username">Some NAme</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="chat-container">
        <ng-container *ngIf="showMessage">
          <div class="chat-header">
            <img [src]="activeChannel?.image" [alt]="activeChannel?.name" class="avatar" />
            <p class="username">{{ activeChannel?.name }}s</p>
          </div>

          <div class="chat-body">
            <li *ngFor="let x of messages" class="msj conversation ">
              <div class="avater">
                <img style="min-height: 50px;" src=""
                  class="img-fluid" alt="">
              </div>
              <div style="white-space: pre;" class="message"><span>{{x.contents }}</span></div>
            </li>
          </div>
          <div class="chat-footer">
            <div class="conversation-write-wrap">
              <form action="#" >
                  <div class="send-file" [hidden]="true">
                  <input type="file"><i data-feather="paperclip"></i>
                </div>
                <div class="send-image" [hidden]="true">
                  <input type="file"><i data-feather="image"></i>
                </div>
                  
                  <textarea maxlength="4000" id="commenttextarea"  name="currentMessage" [(ngModel)]="currentMessage" (keydown.enter)="getNextElement($event);false" placeholder="{{'Type a message'}}" ></textarea>

                  <a  class="emoji" [hidden]="true"><i data-feather="thumbs-up"></i></a>
                  <button type="button" (click)="sendMessage()" id="dsd"  class="send-message"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></button>
              </form>

        </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div> -->
<div class="alice-bg" style="padding-bottom: 20px">
  <div class="container no-gliters chat_css">
    <div class="row no-gliters">
      <div class="col-sm-12">
        <div class="dashboard-container">
          <div class="dashboard-content-wrapper">
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 chat_css_row">
                <div class="message-lists">
                  <form action="#" class="message-search">
                    <input type="text" maxlength="100" [(ngModel)]="query" name="query"
                      placeholder="{{'Search Conversation'}}" />

                    <button><i class="fas fa-search"></i></button>
                  </form>
                  <div style="max-height: 465px; overflow-y: auto">
                    <a *ngFor="let x of chatChannelList" (click)="startChat(x)" class="message-single {{
                        x.channelUuid == activeChannel.channelUuid
                          ? 'active'
                          : ''
                      }}">
                      <div class="thumb">
                        <img style="height: 50px; width: 50px" src="{{ x.userOneProfilePic }}" class="img-fluid" />
                      </div>
                      <div class="body">
                        <h6 class="username">{{ x.userOneFullName }}</h6>
                        <span *ngIf="shwww">({{ x.companyName }})</span>
                        <span class="send-time">{{ x.active }}</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="pagination-list text-center chat_pagination-css" [hidden]="totalPages === 0">
                  <nav class="navigation pagination">
                    <!-- <div class="nav-links">
                      <button class="btn btn-dark btn-lg" style="margin-top: -8px;" (click)="searchPerviousPage()" [disabled]="pageNumber==0"><i class="fas fa-angle-left"></i></button>
                      <a  *ngFor="let val of pagination" class="page-numbers  {{val==pageNumber ? 'current':''}}"   (click)="searchPage(val)">{{val+1}}</a>
                      <button class="btn btn-dark btn-lg" (click)="searchNextPage()" [disabled]="newtotal===pageNumber" style="margin-top: -8px;"><i class="fas fa-angle-right"></i></button>
                    </div> -->
                  </nav>
                </div>
              </div>
              <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
                <div class="message-box">
                  <div *ngIf="showMessage">
                    <div class="message-box-header">
                      <div class="col-md-1 col-xs-4 padd">
                        <div class="thumb_new">
                          <img src="{{ activeChannel.userOneProfilePic }}" class="img-fluid" alt="Avatar" />
                        </div>
                      </div>
                      <div class="col-md-11 col-xs-8">
                        <h5>
                          <a style="
                              margin-right: 5px;
                              font-size: 18px;
                              text-transform: capitalize;
                            ">
                            {{ activeChannel.userOneFullName }}</a>
                        </h5>
                        <p>{{ activeChannel.companyName }}</p>
                      </div>
                    </div>
                    <ul class="dashboard-conversation" id="chat-window">
                      <p class="text-center" *ngIf="loading_history">
                        <img src="./assets/chat/images/history.svg" alt="{{ 'loading' }}" />
                      </p>
                      <li>
                        <img id="loader" *ngIf="loading_history" style="display: block; margin: 0px auto"
                          alt="{{ 'loading' }}"
                          src="http://opengraphicdesign.com/wp-content/uploads/2009/01/loader64.gif" />
                      </li>
                      <li *ngFor="let x of messages" class="msj conversation {{
                          x.fromUserId == userId ? 'out' : 'in'
                        }}">
                        <div class="avater">
                          <img style="min-height: 50px" src="{{
                              x.fromUserId == userId
                                ? authorImage
                                : recipientImage
                            }}" class="img-fluid" alt="" />
                        </div>
                        <div style="white-space: pre" class="message">
                          <span>{{ x.contents }}</span>
                        </div>
                      </li>
                    </ul>
                    <div class="conversation-write-wrap">
                      <form action="#">
                        <div class="send-file" [hidden]="true">
                          <input type="file" /><i data-feather="paperclip"></i>
                        </div>
                        <div class="send-image" [hidden]="true">
                          <input type="file" /><i data-feather="image"></i>
                        </div>
                        <textarea maxlength="4000" id="commenttextarea" name="currentMessage"
                          [(ngModel)]="currentMessage" (keydown.enter)="getNextElement($event); (false)"
                          placeholder="{{ 'Type a message' }}"></textarea>
                        <a class="emoji" [hidden]="true"><i data-feather="thumbs-up"></i></a>
                        <button type="button" (click)="sendMessage()" id="dsd" class="send-message">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-send">
                            <line x1="22" y1="2" x2="11" y2="13"></line>
                            <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                          </svg>
                        </button>
                      </form>
                    </div>
                  </div>
                  <p class="text-center" style="margin-top: 40px" [hidden]="showMessage">
                    <img src="./assets/images/app/banner.jpg" class="img-responsive no-chat-img" style="height: 400px"
                      alt="" />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>