<app-inside-header></app-inside-header>
<br>
<br>
<br>
<div id="container"
	style="height: 950px;">
	<div id="left">
		<div id="left2">
			<div style="margin-left: 30px;">
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">FAQ</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: black;text-align:center; align-items:center">About Us</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">Contact Us</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">Privacy Policy</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
				<mat-form-field appearance="outline"
					style="margin-left:5px;width: 300px;">
					<mat-label style="color: #ff8800;text-align:center; align-items:center">Terms & Conditions</mat-label>
					<input [disabled]="true"
						matInput
						class="apple">
				</mat-form-field>
				<br>
			</div>
		</div>
	</div>
	<div id="right">
		<div style="border: 1px solid #ff8800;margin-right: 30px;padding: 15px;  border-radius: 5px;">
			<h1 style="color:#ff8800;">
				<b>
					One stop platform for all your
                    employment & recruitment needs
				</b>
			</h1>
			<br>
			<p style="text-align: justify;">
				JobsHatch is brand new Job Recruitment Engine that aims to provide convenient
                access to opportunities for the everyday man: be it a student looking for part
                time employment, fresh grads on the hunt for their first job or someone itching
                for a change and upgrade in employment.
			</p>
			<p style="text-align: justify;">
				Connect with employers that seek to add value to your life, or find talented individuals
                that fit into your company culture!
			</p>
			<p style="text-align: justify;">
				Our vision is to build a platform that offers the ultimate convenience and ease
                of access. We strive to constantly improve and perfect our system for your use.
			</p>
			<p style="text-align: justify;">
				We help Employees find their dream jobs and simplify the recruitment process
                for Employers. Leave the advertising, marketing and promoting to experts that
                can propel your ads into the main user space.
			</p>
			<br>
			<h3>
				<b>JobsHatch Candidate</b>
			</h3>
			<ul>
				<li>
					Fast & siimple registration.
				</li>
				<li>
					Customize your job search
				</li>
				<li>
					Apply easily with a single tap
				</li>
				<li>
					Communicate directly with employers
				</li>
				<li>
					Manage & track application status on the go
				</li>
			</ul>
			<br>
			<h3>
				<b>JobsHatch Recruiter</b>
			</h3>
			<ul>
				<li>
					Engage with the best talents
				</li>
				<li>
					Review candidate profiles on the go
				</li>
				<li>
					Advertise & manage job posts with ease
				</li>
				<li>
					Schedule interviews seamlessly
				</li>
				<li>
					Organized interview feedback system
				</li>
			</ul>
			<br>
			<h3>
				<b>JobsHatch Services</b>
			</h3>
			<ul>
				<li>
					Generate additional income
				</li>
				<li>
					Choose jobs that fit your schedule
				</li>
				<li>
					Message with customers via secure chat
				</li>
				<li>
					Manage requests, quotations & bookings with ease
				</li>
				<li>
					Promote your services & grow your business
				</li>
			</ul>
			<br>
		</div>
	</div>
</div>
<app-footer></app-footer>
